.chat-setting-container {
    margin-top: 20px;
}

.btn {
    display: flex;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
}

.btn-confirm {
    background-color: #C60226;
    border: #C60226;
    border-radius: 25px;
    color: #FAFAFA;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}